{% extends 'base.html' %}

{% block head %}
<title>Task Master</title>
{% endblock %}

{% block body %}
<div class="content">
    <h1>Update Task</h1>

    <div class="form">
        <form action="/update/{{ task.id }}" method="POST">
            <table>
                <thead>
                    <tr>
                        <th>Key Value</th>
                        <th>X</th>
                        <th>Y</th>
                        <th>Floor</th>
                        <th>Content</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><input type="text" name="keyValue" id="keyValue" value="{{ task.keyValue }}"></td>
                        <td><input type="text" name="x" id="x" value="{{ task.x }}"></td>
                        <td><input type="text" name="y" id="y" value="{{ task.y }}"></td>
                        <td><input type="text" name="floor" id="floor" value="{{ task.floor }}"></td>
                        <td><input type="text" name="content" id="content" value="{{ task.content }}"></td>
                        <td><input type="submit" value="Update"></td>
                    </tr>
                </tbody>
            </table>
        </form>
    </div>

</div>
{% endblock %}